simulated
.vscode
compile_commands.json
build-*
.cache
tmp
build
tags
*.pyc
.vscode/browse.*
.sconsign.dblite
program_fb
program_sdl
version.h
*.o
.env
.config
.config.old
data
__pycache__
AUTOGEN_FILE_*
